<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Our Website</h1>

    <nav>
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>


    <h1>Welcome to my programming works</h1>
    <p>Instruction: create a route and a page for the link that are not working</p>

    <ul>
        <li><a href="/works">toUpperCase</a></li>
        <li><a href="/works/area/circle">Area of a Circle</a></li>
        <li><a href="/works/area/triangle">Area of a Triangle</a></li>
    </ul>
</body>
</html>

